.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    padding: 200px 0;
    background-color: #c4c4c4;
}

.hero-title {
    margin-bottom: 30px;
    min-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    text-transform: uppercase;
}

.btn {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: transparent;
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
}
.btn:hover,
.btn:focus {
    background-color: #188ce8;
}
