.btn {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: transparent;
    color: $secondary-text-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition-property: background-color $animation-duration $animation-timing-function;
}
.btn:hover,
.btn:focus {
    background-color: #188ce8;
}
