.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section--no-padding {
    padding-top: 0;
}
.section--background-change {
    background-color: $secondary-bg;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.container--center {
    display: flex;
    align-items: center;
}
.container--baseline {
    display: flex;
    align-items: baseline;
}
