.company {
    display: flex;
}

.company__item:not(:last-child) {
    margin-right: 30px;
}
.company__item {
    width: 170px;
    height: 92px;
}
.company__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid $icon-color;
    box-sizing: border-box;
    border-radius: 4px;

    transition: border-color $animation-duration $animation-timing-function;
}

.company__icon {
    color: $icon-color;
    fill: currentColor;
    transition: color $animation-duration $animation-timing-function;
}
.company__link:focus,
.company__link:hover {
    border-color: $accent-color;
}

.company__link:hover .company__icon,
.company__link:focus .company__icon {
    color: $accent-color;
}
